/* ==========================================
   HEADER
========================================== */

@use "../abstracts/colors" as *;
@use "../abstracts/spacing" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/z-index" as *;
@use "../abstracts/transitions" as *;

.header {
    position: sticky;
    top: 0;
    z-index: $z-header;
    background-color: $color-header-bg;
    backdrop-filter: blur(16px);
    box-shadow: $shadow-xl;
    padding-block: .35rem;
}
