/* ==========================================
   NAVIGATION
========================================== */

@use "../abstracts/colors" as *;
@use "../abstracts/spacing" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/transitions" as *;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-24 0;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: $space-32;
}

.nav__link {
    position: relative;
    color: $color-text;
    font-family: $font-heading;
    font-size: $text-md;
    font-weight: $font-semibold;
    transition: color $transition-normal;
}

    .nav__link:hover {
        color: $color-primary;
    }
