<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] | Kırmızı Fil</title>

    <meta name="description" content="Kırmızı Fil - Repair Cafe, Döngüsel Ekonomi, İkinci El ve Topluluk Platformu" />

    <partial name="_Styles" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

    <partial name="_Header" />

    <main>
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <partial name="_Scripts" />

    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>