/* ==========================================
   TRANSITIONS
========================================== */

$transition-fast: 150ms ease-in-out;

$transition-normal: 250ms ease-in-out;

$transition-slow: 400ms ease-in-out;

$transition-extra-slow: 700ms ease-in-out;
