/* ==========================================
   Z-INDEX
========================================== */

$z-hide: -1;
$z-base: 1;

$z-header: 100;
$z-dropdown: 200;
$z-sticky: 300;
$z-fixed: 400;

$z-overlay: 500;
$z-modal: 600;

$z-toast: 700;
$z-tooltip: 800;

$z-loader: 900;
